[user]
	name = Umut Sahin Onder
	email = umutsonder@gmail.com
[init]
	defaultBranch = main
[alias]
	hist = log --all --decorate --oneline --graph
	uncommit= reset HEAD~1
	recommit= commit --amend --no-edit
	editcommit= commit --amend
	blist= branch -a
	yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = secretservice
[pull]
	rebase = true
