# Launch scrcpy when an Android phone is plugged in.
# systemd-run --user bridges from udev (root) into the user's graphical session.

ACTION=="add", SUBSYSTEM=="usb", ENV{adb_user}=="yes", \
    RUN+="/usr/bin/systemd-run --user --machine=qorcialwolf@ \
          /home/qorcialwolf/.local/bin/scrcpy-autostart.sh"
