[Desktop Entry]
Exec=/home/qorcialwolf/.scripts/foobar/run.sh prev
Name=Foobar2000 Prev
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
