[Desktop Entry]
Exec=/home/qorcialwolf/.scripts/foobar/run.sh voldown
Name=Foobar2000 VolDown
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
