[Desktop Entry]
Exec=/home/qorcialwolf/.scripts/foobar/run.sh toggle-shuffle
Name=Foobar2000 Toggle Shuffle
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
